<div id="notification-banner" class="row sb-notification-banner" *ngIf="showToaster && accessInfo !== 'denied'">
    <span >
       	Hey there! We're here to make sure you keep up with your writing here everyday.<br/>
        <a class="sb-notification-link" (click)="showNotificationDialog()">Yes I'm in.</a>.
    </span>
    <a (click)="dismissToaster()" class="sb-notification-close">X</a>
</div>
<div class="row sb-notification-banner" *ngIf="showToaster && accessInfo === 'denied'">
    <span>
    	You might lose important events from us. Please visit your browser settings to enable notifications.
    </span>
    <a (click)="dismissToaster()" class="sb-notification-close"><md-icon>close</md-icon></a>
</div>