.camera-container{
  background: black;
  height: 100vh;
  width: 100vw;
}
.camera-skin {
  position: fixed;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.captured-image-container{
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
  border: 1px dotted #c2c2c2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}
.captured-image-container img{
  width:auto;
  height:auto;
  max-width:50vw;
  max-height:50vh;
  border: 10px solid #fff;
  box-shadow: 3px 3px 3px #777;
  border-bottom: 20px solid #fff;

}
.camera-skin-snapshot {
  width:100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
.mirrorPhoto{
  transform: scaleX(-1);
}
.camera-skin-stage {
  // @extend .mirrorPhoto;
  width: 100vw;
  height: 100vh;
  margin:0 auto;

}

.camera-skin-btn {
  cursor: pointer;
  position: absolute;

  z-index:100;
  bottom:50px;
  left:50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);

}

.filters-pane {
  width: 180px;
  display: inline-block;
  margin: 0 4px;
  img {
    max-width: 100%;
  }
}

#filtersPreview {

  width: calc(188px * 26);
}

.filtersPreviewContainer {
  position: relative;
  margin-top: 50px;
  width: 100%;
  overflow-x: scroll;
}


.pj-camera-picture-wrap{
  position: relative;
  margin-top: 10px;
}

.pj-camera__comments{

  margin-top: 30px;
}

.pj-camera_textarea{
  margin:10px;
  padding:5px;
  color:#000;
  border: 1px solid #c1c1c1;
  max-width:100%;
}

.pj-takenimg-wrap{
  margin:10px 0;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 0;
  -webkit-border: none;
}
.pj-camera_button-container{
  text-align:center;
  margin-top: 20px;
  clear: both;
}

.filter-name{
  display:block;
  font-weight:bold;
  text-align: center;
}


@media (max-width: 577px) {

  .captured-image-container{
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    border: 1px dotted #c2c2c2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
  }
  .captured-image-container img{
    width:auto;
    height:auto;
    max-width:80vw;
    max-height:50vh;
    border: 10px solid #fff;
    box-shadow: 3px 3px 3px #777;
    border-bottom: 20px solid #fff;

  }
}
