<div class="row preview-container">
  <div class="col-xs-12 col-sm-6">
    <div class="sb-upload__image">
        <div class="sb-upload__imagewrap">
            <img #previewImageHolder [src]="previewImage" ngClass="{{selectedFilter}}" alt="preview" class="preview-image" />
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <textarea #commentText placeholder="Dont feel shy..." class="pj-choosepic__textarea" [(ngModel)]='caption' rows="20">
    </textarea>
  </div>
  <div class="col-xs-12">
    <div class="sb-upload__filterframe">
      <div id="filtersPreview" class="filters-container">
          <figure class="filter" *ngFor="let c of cssfilters" ngClass="sb-upload__filters {{c}}" (click)="changeFilter(c)">
              <img [src]="previewImage" alt="filterimage">
          </figure>
      </div>
    </div>
  </div>
</div>
  


<div class="col-xs-12 pj-choosepic__btnwrap">
    <button md-raised-button color="primary" class="camera-skin-btn" id="accept-photo" (click)="acceptUpload($event)">
        <md-icon>done</md-icon>
        Done
    </button>
    <button md-raised-button color="accent" class="camera-skin-btn" id="reject-photo" (click)="rejectUpload($event)">
        <md-icon>clear</md-icon>
        Clear
    </button>
</div>

