<div class="container">
    <ng-container [ngSwitch]="activeViewContainer">
        <ng-container *ngSwitchCase="'photoTaken'" class="">
            <div class="row">
                <div class="pj-camera-picture-wrap">
                    <figure #capturedImageContainer class="captured-image-container {{selectedFilter}}">
                        <img [src]="blobUrl" alt="filterimage" class="camera-skin-snapshot">
                    </figure>
                    <div class="filtersPreviewContainer">
                        <div id="filtersPreview">
                            <figure *ngFor="let c of cssFilters" class="filters-pane {{c}}" (click)="changeFilter(c)">
                                <img [src]="blobUrl" alt="filterimage">
                            </figure>
                        </div>
                    </div>
                    <div class="pj-camera_button-container">
                        <button md-raised-button class="" id="reject-photo" (click)="rejectCapture($event)">
                            Cancel
                        </button>
                        <button md-raised-button class="" id="accept-photo" (click)="acceptCapture($event)">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'showTextArea'">
            <div class="container">
                <section class=" col-xs-12 pj-camera__comments ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 {{selectedFilter}}">
                            <img crossOrigin="Anonymous" #capturedImageHolder [src]="blobUrl" alt="takenimage" class="col-xs-12" />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <textarea #commentText placeholder="Write a caption..." class="pj-camera_textarea col-xs-12" [(ngModel)]='caption' rows="10" cols="50"></textarea>
                            <div class="pj-camera_button-container">
                                <button md-raised-button class="" (click)="rejectCapture($event)">Cancel</button>
                                <button md-raised-button class="" (click)="storeData($event)">Next</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </ng-container>
    </ng-container>
</div>
