<md-toolbar>
  <span>scrapbook</span>
  <span class="sb-header__spacer"></span>
  <span class="sb-header__icon">
      <a md-icon-button routerLink="/gallery">
         <md-icon class="sb-header__icon">photo_library</md-icon>
      </a>
    <a md-icon-button routerLink="/camera">
         <md-icon class="sb-header__icon">photo_camera</md-icon>
      </a>
    <a md-icon-button routerLink="/uploadpic">
         <md-icon class="sb-header__icon">file_upload</md-icon>
      </a>
  </span>
</md-toolbar>
