<ng-container>
  <div class="row">
    <div class="col-xs-12 sb-gallery_mood">
      <h1 class="text-center">
        <span>Oops, that doesn't look like valid Image !...</span>
      </h1>
      <div class="sb-gallery__ph">
        <!--<label md-icon-button for="uploadPhotoHeader" class="mat-icon-button">
                  <span class="mat-button-wrapper" class="fontSize_high">
                    <md-icon alt="open camera" style="font-size:12rem;">photo_camera</md-icon>
                  </span>
                </label>
        <input class="hidden" name="uploadPhotoHeader" type="file" accept="image/*" id="uploadPhotoHeader"
          (change)="onFileUpload($event)" #uploadPhoto>-->
      </div>
    </div>
  </div>
</ng-container>