<div class="row">
  <div class="">
    <ng-container [ngSwitch]="activeViewContainer">

      <ng-container *ngSwitchCase="'cameraStage'">
        <div class="camera-container">
          <div class="camera-skin">
            <video #cameraSkinStage name="cameraSkinStage" id="cameraSkinStage" class="camera-skin-stage" autoplay></video>
            <button md-fab class="camera-skin-btn" id="camera-skin-btn" (click)="handleCapture($event)"><md-icon>camera</md-icon></button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'cameraError'">
        <p class="cameraError">Kindly grant access to your device camera!</p>
      </ng-container>
    </ng-container>
  </div>
</div>
