<div class="row">
  <div class="container">
    <ng-container [ngSwitch]="activeViewContainer">

      <ng-container *ngSwitchCase="'cameraStage'">
        <div class="camera-container">
          <div class="camera-skin">
            <video #cameraSkinStage name="cameraSkinStage" id="cameraSkinStage" class="camera-skin-stage" autoplay></video>
            <button md-fab class="camera-skin-btn" id="camera-skin-btn" (click)="handleCapture($event)"><md-icon>camera</md-icon></button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'cameraError'">
        <div class="row">
          <div class="col-xs-12 sb-gallery_moo">
            <h1 class="text-center">
              <span>Looks like camera is disabled!</span>
            </h1>
            <div class="sb-gallery__ph">
        <label md-icon-button for="uploadPhotoHeader" class="mat-icon-button">
                  <span class="mat-button-wrapper" class="fontSize_high">
                    <md-icon alt="open camera" style="font-size:12rem;">photo_camera</md-icon>
                  </span>
                </label>
        <input class="hidden" name="uploadPhotoHeader" type="file" accept="image/*" id="uploadPhotoHeader"
          (change)="onFileUpload($event)" #uploadPhoto>
      </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
