<div class="container-fluid">
  <ng-container *ngIf="cards?.length>0;else noPhotos">
    <div class="sb-gallery_grid" #grid>
      <div class="sb-gallery_sizer"></div>
      <sb-photoitem *ngFor="let card of cards;let i=index" [card]="card"></sb-photoitem>
    </div>
  </ng-container>

  <ng-template #noPhotos>
    <div class="row">
      <div class="col-xs-12">
        <h1>
          <md-icon>sentiment_dissatisfied</md-icon>
          Some message to show there is no photos
        </h1>
        <button md-raised-button routerLink="/camera">
          Camera
        </button>
        <button md-raised-button routerLink="/gallery">
          Upload
        </button>
      </div>
    </div>
  </ng-template>
</div>

