<div class="container-fluid sb-gallery m-xs">
  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="cards?.length>0">
      <div class="sb-gallery_grid" #grid>
        <div class="sb-gallery_sizer"></div>
        <sb-photoitem *ngFor="let card of cards;let i=index" [card]="card"></sb-photoitem>
      </div>
    </ng-container>
    <ng-container *ngIf="cards?.length==0">
      <div class="row">
        <div class="col-xs-12">
          <h1>
            <md-icon>sentiment_dissatisfied</md-icon>
            <span>There are no memories</span>
          </h1>
          <button color="accent" md-raised-button routerLink="/camera">
            Camera
          </button>
          <button md-raised-button  color="accent" routerLink="/gallery">
            Upload
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
