.sb-gallery_grid {
  background-color: #fff;
  width: 100%;
}

.sb-gallery_grid::after {
  content: '';
  display: block;
  clear: both;
}

.sb-gallery_item {
  float: left;
}

.sb-gallery_sizer {
  width: 32.5%;
}

@media (max-width: 577px) {
  .sb-gallery.m-xs {
    margin: 0 auto;
    padding: 0px;
  }
}

